@model IEnumerable<App.UI.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Produtos Cadastrados";
}

<h1>@ViewData["Title"]</h1>

<vc:Summary></vc:Summary>

<p supress-by-claim-name="Product" supress-by-claim-value="Create">
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>
<partial name="_ProductsList" />
